<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Herbaty</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Herbaty", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Strona Główna", "Index", "Home")</li>
                    <li>@Html.ActionLink("O Nas", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right mr-auto">
                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item"><a href="/Account/Logout" class="nav-link">Wyloguj</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a href="/Account/Login" class="nav-link">Zaloguj</a></li>
                        <li class="nav-item"><a href="/Account/CreateAccount" class="nav-link">Zarejestruj</a></li>
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item">@Html.Action("UserNavPartial", "Account", new { area = "" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Damian Kucharski Z612 </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
